* {
  box-sizing: border-box;
}

html {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.container_pets {
  margin: 0;
}

.header {
  padding: 14px 0;
  background-color: #000000;
}
.header__flex-container {
  display: flex;
  align-items: center;
}
.header__title {
  width: min-content;
  padding: 3.55px 4.75px;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
  border: 1.18841px solid #ffffff;
  border-radius: 2px;
}
.header__logo {
  position: relative;
  color: #ffffff;
}
.header__logo img {
  position: absolute;
  top: 20px;
  left: 5px;
}
.header__nav {
  margin-right: auto;
  margin-left: 63px;
}
.header__nav-list {
  display: flex;
}
.header__nav-item:not(:last-child) {
  margin-right: 58px;
}
.header__nav-link {
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s linear;
}
.header__nav-link:hover {
  color: #fe9013;
}
.header__nav-item:first-child .header__nav-link {
  font-weight: 600;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  -webkit-background-clip: text;
  pointer-events: none;
  -webkit-text-fill-color: transparent;
}
.header__figma-designer {
  font-weight: 500;
  color: #ffffff;
  transition: color 0.3s linear;
}
.header__figma-designer:hover {
  color: #fe9013;
}

.watch {
  padding: 84px 0 100px 0;
  background-image: url("../../assets/images/main/Giant_Panda.png");
  background-position: center bottom;
  background-size: cover;
}
.watch__flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.watch__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.watch__title {
  position: relative;
  z-index: 0;
  width: min-content;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 106px;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.watch__title span {
  color: #ffee2e;
}
.watch__title img {
  position: absolute;
  top: -73px;
  left: -83px;
  z-index: -1;
}
.watch__link {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  transition: background 0.3s ease-in-out;
  padding: 18px 88px 18px 94px;
  border-radius: 25px;
}
.watch__link:hover {
  background: #fe9013;
}
.watch__link:active {
  background: #4b9200;
}

.backstage {
  padding: 140px 0 178px 0;
  background: url("../../assets/images/main/flower_foto1.png") right 12px no-repeat;
}
.backstage__flex-container {
  display: flex;
  column-gap: 86px;
}
.backstage__title {
  margin-bottom: 21px;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.1px;
}
.backstage__dicription {
  margin-bottom: 55px;
  line-height: 20.8px;
}
.backstage__subtitle {
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 24px;
}
.backstage__subdicription {
  line-height: 22px;
}

.pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 98px;
  background: url("../../assets/images/main/palm_foto.png") left bottom no-repeat, url("../../assets/images/main/strelitzia_1.png") right bottom no-repeat;
}
.pets svg {
  cursor: pointer;
}
.pets__left-arrow, .pets__right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  background-color: #fe9013;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s linear;
}
.pets__left-arrow:active, .pets__right-arrow:active {
  background-color: #4b9200;
}
.pets__left-arrow {
  margin-right: 4px;
  margin-bottom: 3px;
}
.pets__right-arrow {
  margin-bottom: 3px;
  margin-left: 4px;
}
.pets__section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 82px;
}
.pets__flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 19px;
}
.pets__card {
  overflow: hidden;
  border: 1px solid #fa6f32;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}
.pets__card-img-container {
  height: 366px;
  overflow: hidden;
}
.pets__card-img {
  display: block;
  transition: all 0.3s linear;
}
.pets__card:hover .pets__card-img {
  transform: scale(1.2);
}
.pets__pet-info {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto min-content;
  padding: 10px 12px 10px 16px;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.3s ease-out;
}
.pets__card:hover .pets__pet-info {
  transform: translateY(0);
  opacity: 1;
}
.pets__pet-name {
  font-weight: 500;
  text-transform: uppercase;
  grid-column: 1/2;
  grid-row: 1/2;
}
.pets__pet-location {
  font-weight: 300;
  font-size: 15px;
  grid-column: 1/2;
  grid-row: 2/3;
}
.pets__pet-food {
  align-self: center;
  grid-column: 2/3;
  grid-row: 1/3;
}
.pets__link {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  transition: background 0.3s ease-in-out;
  cursor: pointer;
  padding: 18px 56px 18px 60px;
  word-spacing: 1px;
  border-radius: 25px;
}
.pets__link:hover {
  background: #fe9013;
}
.pets__link:active {
  background: #4b9200;
}

.feed-pet {
  padding: 69px 200px 101px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
}
.feed-pet__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 99px 58px 99px;
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  backdrop-filter: blur(2px);
}
.feed-pet__title {
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 48px;
  color: #fe9013;
}
.feed-pet__discription {
  align-self: flex-start;
  margin-bottom: 42px;
  font-size: 24px;
}
.feed-pet__subdiscription1 {
  align-self: flex-start;
  margin-bottom: 11px;
  font-weight: 500;
  letter-spacing: 0.08px;
  white-space: nowrap;
}
.feed-pet__subdiscription2 {
  margin-right: 90px;
  margin-bottom: 62px;
  line-height: 21px;
}
.feed-pet__subdiscription2 a {
  display: inline-block;
  color: #000000;
  border-bottom: 1px solid #fe9013;
}
.feed-pet__subtitle {
  margin-bottom: 41px;
  font-weight: 400;
  font-size: 36px;
}
.feed-pet__steps {
  display: grid;
  grid-template-columns: 168px min-content 168px min-content 168px;
  grid-template-areas: "img1 arrow1 img2 arrow2 img3" "disc1 . disc2 . disc3";
  justify-content: space-between;
  width: 100%;
  margin-bottom: 62px;
  padding-right: 100px;
  padding-left: 100px;
}
.feed-pet__steps > img {
  align-self: center;
}
.feed-pet .feed-pet__steps-card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 168px;
  background-color: #ffffff;
  border: 1px solid #fe9013;
  border-radius: 5px;
}
.feed-pet__steps-card-discription {
  margin-top: 32px;
  line-height: 21px;
}
.feed-pet__link {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  transition: background 0.3s ease-in-out;
  padding: 18px 70px 18px 74px;
  border-radius: 25px;
}
.feed-pet__link:hover {
  background: #fe9013;
}
.feed-pet__link:active {
  background: #4b9200;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.arrow1 {
  grid-area: arrow1;
}

.arrow2 {
  grid-area: arrow2;
}

.disc1 {
  grid-area: disc1;
}

.disc2 {
  grid-area: disc2;
}

.disc3 {
  grid-area: disc3;
}

.testimonials {
  padding-top: 143px;
  padding-bottom: 180px;
  background: url("../../assets/images/main/leav_foto.png") right calc(100% + 134px) no-repeat;
}
.testimonials__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials__title {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 36px;
}
.testimonials__reviews-block {
  display: flex;
  margin-bottom: 21px;
  column-gap: 30px;
}
.testimonials__reviews {
  display: flex;
  align-items: center;
  width: calc(100% - 90px);
  height: 391px;
  background-color: #f1f3f2;
  border: 1px solid #fe9013;
  border-radius: 20px;
}
.testimonials__shell {
  height: 357px;
  margin-right: 12px;
  margin-left: 16px;
}
.testimonials__reviews-user-info {
  display: flex;
  margin-bottom: 10px;
  column-gap: 10px;
}
.testimonials__reviews-user-location, .testimonials__reviews-separator, .testimonials__reviews-date-review {
  font-weight: 300;
  font-size: 15px;
  color: #bdbdbd;
}
.testimonials__reviews-review {
  height: 309px;
  overflow-y: scroll;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #767474;
}
.testimonials__reviews-review::-webkit-scrollbar {
  width: 0;
}
.testimonials__line-scroll {
  margin-bottom: 31px;
}
.testimonials__line-scroll .slider_progress_bar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 8px;
  background: #f1f3f2;
  border: 1px solid #fe9013;
  border-radius: 5px;
  cursor: pointer;
}
.testimonials__line-scroll input[type=radio] {
  display: none;
}
.testimonials__line-scroll #radio_progress_bar_one:checked ~ .slider_progress_bar .progress_style_1 {
  width: 120px;
  height: 6px;
  background-color: #fe9013;
  border-radius: 5px;
}
.testimonials__line-scroll #radio_progress_bar_one:not(checked) ~ .slider_progress_bar .progress_style_1 {
  width: 120px;
  height: 6px;
  background-color: #f1f3f2;
  border-radius: 5px;
}
.testimonials__line-scroll .progress_style_1:hover {
  cursor: pointer;
}
.testimonials__line-scroll #radio_progress_bar_two:checked ~ .slider_progress_bar .progress_style_2 {
  width: 120px;
  height: 6px;
  background-color: #fe9013;
  border-radius: 5px;
}
.testimonials__line-scroll #radio_progress_bar_two:not(checked) ~ .slider_progress_bar .progress_style_2 {
  width: 120px;
  height: 6px;
  background-color: #f1f3f2;
  border-radius: 5px;
}
.testimonials__line-scroll .progress_style_2:hover {
  cursor: pointer;
}
.testimonials__line-scroll #radio_progress_bar_three:checked ~ .slider_progress_bar .progress_style_3 {
  width: 120px;
  height: 6px;
  background-color: #fe9013;
  border-radius: 5px;
}
.testimonials__line-scroll #radio_progress_bar_three:not(checked) ~ .slider_progress_bar .progress_style_3 {
  width: 120px;
  height: 6px;
  background-color: #f1f3f2;
  border-radius: 5px;
}
.testimonials__line-scroll .progress_style_3:hover {
  cursor: pointer;
}
.testimonials__line-scroll #radio_progress_bar_four:checked ~ .slider_progress_bar .progress_style_4 {
  width: 120px;
  height: 6px;
  background-color: #fe9013;
  border-radius: 5px;
}
.testimonials__line-scroll #radio_progress_bar_four:not(checked) ~ .slider_progress_bar .progress_style_4 {
  width: 120px;
  height: 6px;
  background-color: #f1f3f2;
  border-radius: 5px;
}
.testimonials__line-scroll .progress_style_4:hover {
  cursor: pointer;
}
.testimonials__line-scroll #radio_progress_bar_five:checked ~ .slider_progress_bar .progress_style_5 {
  width: 120px;
  height: 6px;
  background-color: #fe9013;
  border-radius: 5px;
}
.testimonials__line-scroll #radio_progress_bar_five:not(checked) ~ .slider_progress_bar .progress_style_5 {
  width: 120px;
  height: 6px;
  background-color: #f1f3f2;
  border-radius: 5px;
}
.testimonials__line-scroll .progress_style_5:hover {
  cursor: pointer;
}
.testimonials__link {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  transition: background 0.3s ease-in-out;
  align-self: flex-start;
  padding: 18px 85px;
  border-radius: 5px;
}
.testimonials__link:hover {
  background: #fe9013;
}
.testimonials__link:active {
  background: #4b9200;
}

.footer {
  background-color: #000000;
}
.footer__columns {
  display: flex;
  padding-top: 41px;
  padding-bottom: 50px;
}
.footer__column:nth-child(1) {
  margin-right: 101px;
}
.footer__column:nth-child(2) {
  display: flex;
  align-items: flex-end;
  margin-right: 26px;
}
.footer__column:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__title {
  width: min-content;
  margin-bottom: 68px;
  padding: 3.55px 4.75px;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
  border: 1.18841px solid #ffffff;
  border-radius: 2px;
}
.footer__logo {
  position: relative;
  color: #ffffff;
}
.footer__logo img {
  position: absolute;
  top: 20px;
  left: 5px;
}
.footer__link {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  transition: background 0.3s ease-in-out;
  margin-bottom: 44px;
  padding: 18px 51px;
  border-radius: 5px;
}
.footer__link:hover {
  background: #fe9013;
}
.footer__link:active {
  background: #4b9200;
}
.footer__contacts-list {
  display: flex;
  flex-direction: column;
}
.footer__contacts-item:not(:last-child) {
  margin-bottom: 10px;
}
.footer__contacts-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  transition: color 0.3s linear;
}
.footer__contacts-item:active .footer__contacts-link {
  color: #4b9200;
}
.footer__contacts-img-shell {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  margin-right: 12px;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  transition: background 0.3s linear;
}
.footer__contacts-item:active .footer__contacts-img-shell {
  background: #4b9200;
}
.footer__nav-list {
  display: flex;
}
.footer__nav-item:not(:last-child) {
  margin-right: 58px;
}
.footer__nav-link {
  color: #ffffff;
  transition: color 0.3s linear;
}
.footer__nav-link:hover {
  color: #fe9013;
}
.footer__nav-item:first-child .footer__nav-link {
  color: #fe9013;
  pointer-events: none;
}
.footer__form-title {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  justify-self: flex-start;
}
.footer__form {
  justify-self: flex-start;
}
.footer__form-email {
  margin-right: 10px;
  padding: 10px 7px 10px 10px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #fe9013;
  border-radius: 5px;
  outline: none;
}
.footer__form-email:focus {
  border: 1px solid #4b9200;
}
.footer__form-email::placeholder {
  color: #f1f3f2;
}
.footer__form-submit {
  padding: 10px 39px;
  color: #ff0000;
  background-color: #f1f3f2;
  border: 1px solid #ff0000;
  border-radius: 5px;
  cursor: pointer;
}
.footer__figma {
  align-self: flex-end;
  font-weight: 200;
  color: #ffffff;
  transition: all 0.3s linear;
}
.footer__figma:first-of-type > .footer__figma-span:first-child {
  margin-bottom: 10px;
}
.footer__figma-span {
  display: inline-block;
  border-bottom: 1px solid transparent;
  transition-timing-function: linear;
  transition-duration: 0.3s;
  transition-property: color, border-bottom;
}
.footer__figma:hover .footer__figma-span {
  color: #4b9200;
  border-bottom: 1px solid #4b9200;
}/*# sourceMappingURL=style.css.map */