* {
  box-sizing: border-box;
}

html {
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;

  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

$active_clicked_state: #4b9200;
$button_default: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
$yellow: #ffee2e;
$black_blue: #333b41;
$grey: #767474;
$light_grey: #f1f3f2;
$white: #ffffff;
$orange: #f9804b;
$orange_light: #fe9013;

@mixin link {
  display: inline-block;
  color: $white;
  text-transform: uppercase;
  white-space: nowrap;
  background: $button_default;
  transition: background .3s ease-in-out;

  &:hover {
    background: $orange_light;
  }
  &:active {
    background: $active_clicked_state;
  }
}

.header {
  padding: 14px 0;
  background-color: #000000;

  &__flex-container {
    display: flex;
    align-items: center;
  }
  &__title {
    width: min-content;
    padding: 3.55px 4.75px;
    font-weight: 400;
    font-size: 19px;
    text-align: center;
    border: 1.18841px solid $white;
    border-radius: 2px;
  }
  &__logo {
    position: relative;
    color: $white;

    & img {
      position: absolute;
      top: 20px;
      left: 5px;
    }
  }
  &__nav {
    margin-right: auto;
    margin-left: 63px;
  }
  &__nav-list {
    display: flex;
  }
  &__nav-item {
    &:not(:last-child) {
      margin-right: 58px;
    }
  }
  &__nav-link {
    font-weight: 500;
    color: $white;
    transition: color .3s linear;

    &:hover {
      color: $orange_light;
    }
    .header__nav-item:nth-child(4) & {
      font-weight: 600;
      background: $button_default;
      -webkit-background-clip: text;
      pointer-events: none;

      -webkit-text-fill-color: transparent;
    }
  }
  &__figma-designer {
    font-weight: 500;
    color: $white;
    transition: color .3s linear;

    &:hover {
      color: $orange_light;
    }
  }
}

.hero {
  img {
    display: block;
  }
}

.feed-friend {
  padding: 43px 205px 180px;
  background: linear-gradient(
  315.75deg,
  rgba(254, 210, 144, .7) 30.06%,
  #febdab 100.95%,
  rgba(254, 210, 144, .7) 106.36%
  ),
  linear-gradient(
  315.75deg,
  rgba(254, 189, 171, .74) 30.06%,
  rgba(243, 169, 248, .66) 50.74%,
  #e0d8f0 80.49%,
  #eaf7fe 127.9%,
  #eaf7fe 149.54%
  ),
  linear-gradient(
  315.75deg,
  rgba(254, 189, 171, .74) 30.06%,
  rgba(243, 169, 248, .66) 50.74%,
  #e0d8f0 80.49%,
  #eaf7fe 127.9%,
  #eaf7fe 149.54%
  );

  &__title {
    margin-bottom: 13px;
    font-weight: 400;
    font-size: 36px;
    color: $white;
  }
  &__discription {
    margin-right: 10px;
    margin-bottom: 48px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: $white;
    letter-spacing: .06px;
  }
  &__subtitle {
    margin-bottom: 62px;
    font-weight: 400;
    font-size: 36px;
    color: $orange_light;
  }
  &__make-donation {
  }
}

.make-donation {
  display: flex;
  flex-direction: column;
  padding: 41px 92px 62px;
  background: rgba(255, 255, 255, .52);
  border-radius: 20px;

  backdrop-filter: blur(2px);

  &__title {
    align-self: center;
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 48px;
    color: $orange_light;
  }
  &__description {
    margin-bottom: 107px;
    font-size: 24px;
  }
  &__count-pands {
    display: flex;
    align-items: center;
    align-self: center;
    margin-bottom: 40px;
  }
  &__counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 11px;
  }
  &__quantity {
    display: block;
    font-weight: 500;
    font-size: 72px;
  }
  &__multiplication {
    margin-right: 64px;
  }
  &__panda-img-container {
    width: 278px;

    img {
      width: 100%;
    }
  }
  &__amount {
    margin-bottom: 18px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__amount-donation {
    position: relative;
    align-self: center;
    width: 268px;
    height: 54px;
    margin-bottom: 28px;
    padding: 16px 9px;
    background-color: transparent;
    background-image: url('../../assets/images/donate/Vector.svg');
    background-repeat: no-repeat;
    background-position: 247px 16px;
    border: solid 1px #929699;
    border-radius: 2px;
    outline: none;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }
  &__radio-block {
    display: flex;
    justify-content: center;
    margin-bottom: 31px;

    & .custom-radio:not(:last-child) {
      margin-right: 50px;
    }
  }
  &__radio {
    display: none;
    margin-right: 10px;

    & + span {
      position: relative;
    }
    & + span::before {
      content: '';
      position: absolute;
      left: -25px;
      width: 16px;
      height: 16px;
      border: solid 1px $orange_light;
      border-radius: 50%;
    }
    &:checked + span::before {
      background-color: #4b9200;
      border: none;
    }
  }
  &__submit {
    @include link();

    align-self: center;
    margin-bottom: 32px;
    padding: 18px 70px;
    border-style: none;
    border-radius: 25px;
  }
  &__share {
    align-self: center;
  }
}

// Band

#radiobutton_circle_5000,
#radiobutton_circle_2000,
#radiobutton_circle_1000,
#radiobutton_circle_500,
#radiobutton_circle_250,
#radiobutton_circle_100,
#radiobutton_circle_50,
#radiobutton_circle_25 {
  display: none;
}

.money_input_grade {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27px;
  margin-bottom: 8px;
  background: $black_blue;
  border-radius: 2px;
}

.sum_line {
  z-index: 15;
  width: calc(100% - 60px);
  height: 2px;
  background: $grey;
}

.sum_circles {
  position: absolute;
  z-index: 25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10px;
  padding: 0 8px;
}

.circle_wrapper_5000 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.circle_wrapper_5000:hover {
  cursor: pointer;
}

.circle_5000 {
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: $yellow;
  border-radius: 50%;
}

#radiobutton_circle_5000:checked ~ .money_input_grade .circle_wrapper_5000 {
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 50%;
  }

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 50%;
  }
}

#radiobutton_circle_5000:checked ~ .money_sum .five_thousands {
  color: $orange;
}

.circle_5000:hover {
  cursor: pointer;
}

.circle_wrapper_2000 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.circle_wrapper_2000:hover {
  cursor: pointer;
}

.circle_2000 {
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: $yellow;
  border-radius: 50%;
}

#radiobutton_circle_2000:checked ~ .money_input_grade .circle_wrapper_2000 {
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 50%;
  }

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 50%;
  }
}

#radiobutton_circle_2000:checked ~ .money_sum .two_thousands {
  color: $orange;
}

.circle_2000:hover {
  cursor: pointer;
}

.circle_wrapper_1000 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.circle_wrapper_1000:hover {
  cursor: pointer;
}

.circle_1000 {
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: $yellow;
  border-radius: 50%;
}

#radiobutton_circle_1000:checked ~ .money_input_grade .circle_wrapper_1000 {
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 50%;
  }

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 50%;
  }
}

#radiobutton_circle_1000:checked ~ .money_sum .one_thousand {
  color: $orange;
}

.circle_1000:hover {
  cursor: pointer;
}

.circle_wrapper_500 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.circle_wrapper_500:hover {
  cursor: pointer;
}

.circle_wrapper_500 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.circle_wrapper_500:hover {
  cursor: pointer;
}

.circle_500 {
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: $yellow;
  border-radius: 50%;
}

#radiobutton_circle_500:checked ~ .money_input_grade .circle_wrapper_500 {
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 50%;
  }

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 50%;
  }
}

#radiobutton_circle_500:checked ~ .money_sum .five_hundreds {
  color: $orange;
}

.circle_500:hover {
  cursor: pointer;
}

.circle_wrapper_250 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.circle_wrapper_250:hover {
  cursor: pointer;
}

.circle_250 {
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: $yellow;
  border-radius: 50%;
}

.circle_250 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  background-color: $yellow;
  border-radius: 50%;
}

#radiobutton_circle_250:checked ~ .money_input_grade .circle_wrapper_250 {
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 50%;
  }

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 50%;
  }
}

#radiobutton_circle_250:checked ~ .money_sum .twofifty_hundreds {
  color: $orange;
}

.circle_250:hover {
  cursor: pointer;
}

.circle_wrapper_100 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.circle_wrapper_100:hover {
  cursor: pointer;
}

.circle_100 {
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: $yellow;
  border-radius: 50%;
}

#radiobutton_circle_100:checked ~ .money_input_grade .circle_wrapper_100 {
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 50%;
  }

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 50%;
  }
}

#radiobutton_circle_100:checked ~ .money_sum .one_hundred {
  color: $orange;
}

.circle_100:hover {
  cursor: pointer;
}

.circle_wrapper_50 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.circle_wrapper_50:hover {
  cursor: pointer;
}

.circle_50 {
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: $yellow;
  border-radius: 50%;
}

#radiobutton_circle_50:checked ~ .money_input_grade .circle_wrapper_50 {
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 50%;
  }

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 50%;
  }
}

#radiobutton_circle_50:checked ~ .money_sum .fifty {
  color: $orange;
}

.circle_50:hover {
  cursor: pointer;
}

.circle_wrapper_25 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.circle_wrapper_25:hover {
  cursor: pointer;
}

.circle_25 {
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: $yellow;
  border-radius: 50%;
}

#radiobutton_circle_25:checked ~ .money_input_grade .circle_wrapper_25 {
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 23px;
    height: 23px;
    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 50%;
  }

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 50%;
  }
}

#radiobutton_circle_25:checked ~ .money_sum .twentyfive {
  color: $orange;
}

.circle_25:hover {
  cursor: pointer;
}

.money_sum {
  display: flex;
  justify-content: space-between;
  height: 36px;
  margin-top: 6px;
  margin-bottom: 48px;
}

.first_sum,
.second_sum,
.third_sum {
  display: flex;
  align-items: center;
  width: 72px;
  height: 36px;
}

.sixth_sum,
.fifth_sum,
.fourth_sum,
.eighth_sum,
.seventh_sum {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 36px;
}

.five_thousands,
.two_thousands {
  width: 60px;
  height: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  font-family: 'Roboto';
  color: #333b41;
  text-transform: uppercase;
}

.one_thousand {
  width: 60px;
  height: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  font-family: 'Roboto';
  color: #333b41;
  text-transform: uppercase;
}

.five_hundreds,
.twofifty_hundreds,
.one_hundred {
  width: 45px;
  height: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  font-family: 'Roboto';
  color: #333b41;
  text-transform: uppercase;
}

.fifty,
.twentyfive {
  width: 30px;
  height: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  font-family: 'Roboto';
  color: #333b41;
  text-transform: uppercase;
}

.dollar_5000,
.dollar_thousand,
.dollar_2000,
.dollar_500,
.dollar_250,
.dollar_100,
.dollar_50,
.dollar_25 {
  width: 10px;
  height: 20px;
  margin-right: 2px;
  background-image: url('../../assets/images/donate/dollar_black.svg');
}

#radiobutton_circle_5000:checked ~ .money_sum .dollar_5000 {
  background-image: url('../../assets/images/donate/dollar_orange.svg');
}

#radiobutton_circle_2000:checked ~ .money_sum .dollar_2000 {
  background-image: url('../../assets/images/donate/dollar_orange.svg');
}

#radiobutton_circle_1000:checked ~ .money_sum .dollar_thousand {
  background-image: url('../../assets/images/donate/dollar_orange.svg');
}

#radiobutton_circle_500:checked ~ .money_sum .dollar_500 {
  background-image: url('../../assets/images/donate/dollar_orange.svg');
}

#radiobutton_circle_250:checked ~ .money_sum .dollar_250 {
  background-image: url('../../assets/images/donate/dollar_orange.svg');
}

#radiobutton_circle_100:checked ~ .money_sum .dollar_100 {
  background-image: url('../../assets/images/donate/dollar_orange.svg');
}

#radiobutton_circle_50:checked ~ .money_sum .dollar_50 {
  background-image: url('../../assets/images/donate/dollar_orange.svg');
}

#radiobutton_circle_25:checked ~ .money_sum .dollar_25 {
  background-image: url('../../assets/images/donate/dollar_orange.svg');
}

.footer {
  background-color: #000000;

  &__columns {
    display: flex;
    padding-top: 41px;
    padding-bottom: 50px;
  }
  &__column {
    &:nth-child(1) {
      width: min-content;
      margin-right: 101px;
    }
    &:nth-child(2) {
      display: flex;
      align-items: flex-end;
      margin-right: 26px;
    }
    &:nth-child(3) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__title {
    width: min-content;
    margin-bottom: 68px;
    padding: 3.55px 4.75px;
    font-weight: 400;
    font-size: 19px;
    text-align: center;
    border: 1.18841px solid $white;
    border-radius: 2px;
  }
  &__logo {
    position: relative;
    color: $white;

    & img {
      position: absolute;
      top: 20px;
      left: 5px;
    }
  }
  &__link {
    @include link();

    margin-bottom: 44px;
    padding: 18px 51px;
    border-radius: 5px;
  }
  &__contacts-list {
    display: inline-flex;
    flex-direction: column;
  }
  &__contacts-item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__contacts-link {
    display: flex;
    align-items: center;
    color: $white;
    transition: color .3s linear;

    .footer__contacts-item:hover & {
      color: $active_clicked_state;
    }
  }
  &__contacts-img-shell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    margin-right: 12px;
    background: rgba(196, 196, 196, .5);
    border-radius: 50%;
    transition: background .3s linear;

    .footer__contacts-item:hover & {
      background: $active_clicked_state;
    }
  }
  &__nav-list {
    display: flex;
  }
  &__nav-item {
    &:not(:last-child) {
      margin-right: 58px;
    }
  }
  &__nav-link {
    color: $white;
    transition: color .3s linear;

    &:hover {
      color: $orange_light;
    }
    .footer__nav-item:first-child & {
      color: $orange_light;
      pointer-events: none;
    }
  }
  &__form-title {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 24px;
    color: $white;

    justify-self: flex-start;
  }
  &__form {
    justify-self: flex-end;
  }
  &__form-email {
    margin-right: 10px;
    padding: 10px 7px 10px 10px;
    color: $white;
    background-color: transparent;
    border: 1px solid $orange_light;
    border-radius: 5px;
    outline: none;

    &:focus {
      border: 1px solid $active_clicked_state;
    }

    &::placeholder {
      color: $light_grey;
    }
  }
  &__form-submit {
    padding: 10px 39px;
    color: #ff0000;
    background-color: #f1f3f2;
    border: 1px solid #ff0000;
    border-radius: 5px;
    cursor: pointer;
  }
  &__figma {
    align-self: flex-end;
    font-weight: 200;
    color: $white;
    transition: all .3s linear;

    &:first-of-type > .footer__figma-span:first-child {
      margin-bottom: 10px;
    }
  }
  &__figma-span {
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition-timing-function: linear;
    transition-duration: .3s;
    transition-property: color, border-bottom;

    .footer__figma:hover & {
      color: $active_clicked_state;
      border-bottom: 1px solid $active_clicked_state;
    }
  }
}
